* {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
}

body {
    background-color: #F5F5F5;
}

div {
    padding: 50px;
    text-align: center;
    border-top: 1px solid #D5D5D5;
}

img {
    width: 190px;
   
}

h1 {
    font-size: 32px;
    margin: 15px auto 15px auto;
    color:#F5F5F5;
    background-color: #49B970;
    display: inline-block;
    padding: 15px;
    border-radius: 0 25px 25px 25px;
}

h1:hover {
    cursor: help;
    background-color: rgb(48, 107, 236);
    color:azure;
}

h2 {
    font-size: 24px;
    margin: 15px auto 15px auto;
}

h3 {
    font-size: 18px;
    margin: 15px auto 15px auto;
}

p {
    font-size: 16px;
    width: 930px;
    margin: 15px auto 30px auto;
}

a {
    font-size: 14px;
    background-color: #49B970;
    color: azure;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: bold;
}

a:hover{
    cursor: pointer;
    background-color: rgb(48, 107, 236);
    color:azure;
}

span {
    font-weight: bold;
    font-style:oblique;
}
